<h3 class="mb-3">Published | All Tweets</h3>
<!-- Filter form -->
<%= erb :'partials/_filter', locals: { path: '/published', categories: @categories, params: @params } %>

<!-- Tweet table -->
<%= erb :'partials/_tweet_table', locals: { tweets: @published } %>

<!-- Pagination -->
<%= erb :'partials/_pagination', locals: { pagination: @pagination } %>

<!-- Back to Dashboard button -->
<%= erb :'partials/_back_to_dashboard' %>
